.footer {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: auto;
  max-width: 768px;
  p {
    color: $font-color;
    font-size: 0.7rem;
    text-align: center;
  }
}