$primary: #0046bf;
$secondary: #00d684;
$tertiary: #F6AA66;

$font-color: #111111;
$card-background: #3E379B;
$card-hover: #0d208c;
$card-lite-background: #00d684;
$card-lite-color: #000000;
$card-font-color: #FFFFFF;

$circular-progress-path: #00d684;

$background: #ffffff;
$toggle-background: #00d684;

$light-2: #dedede;

$white: #ffffff;
$black: #000000;
$navbar: $primary;
$navbar-secondary: $secondary;
$navbar-font-color: $white;
$navbar-height: 60px;
$dark-1: #000000;

$menu-hover: #0d208c;
$menu-hover-color: $white;

$accent-1: #2c42b8;
$text-font: "Source Sans Pro";
$title-font: "PT Sans";

$bar-background: #F0EFEF;

$green: #00A757;
$red: #D80C2C;

$flag-blue: #0055A4;
$flag-red: #EF4135;